<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <% if (locals.error) { %>
            <div style="margin: 1rem">
                Your password was incorrect
            </div>
        <% } %>
        <form method="post" style="display: grid; justify-content: space-between; margin: 0 auto; gap: 0.7rem">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
            <button type="submit">Download</button>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>